main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

/* HEADER GLOW EFFECT */
#glow {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: 50px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(25px);
  pointer-events: none;
}

main img {
  width: 100%;
  max-width: 510px;
  align-self: center;
  margin-top: 30px;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  color: rgb(214, 214, 214);
  text-align: center;
  margin-top: 1.2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

main section div p {
  width: 100%;
  max-width: 950px;
  font-size: 1.3rem;
  text-align: center;
  line-height: 50px;
}

main section div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#missionVision {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  padding: 20px;
}

.mvWrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.vertical {
  height: 380px;
  width: 1px;
  background-color: rgb(105, 105, 105);
}

.mvWrappers p {
  width: 450px;
}

/* TABLET */
@media (max-width: 1024px) {
  main section div{
    align-items: center;
    justify-content: center;  
  }
  main section div p{
    width: 80%; 
  }
}

/* MOBILE (≤768px) */
@media (max-width: 768px) {
  .intro p{
    font-size: 1.1rem;
    line-height: 35px;
  }

  #headline {
    width: 350px;
    margin-top: 50px;
  }

  #glow {
    width: 150px;
    height: 40px;
    top: 30px;
  }

  .intro img{
    width: 50%;
       margin: 0px;
  }

  .intro div{
    gap: 30px;
  }

  #missionVision {
    flex-direction: column;
    gap: 30px;
  }
  .vertical {
    display: none;
  }
  .mvWrappers p {
    width: 80%;
    font-size: 1.1rem;
    line-height: 35px;
  }

}
/* SMALL MOBILE (≤480px) */
@media (max-width: 480px) {
  #headline {
    width: 270px;
    margin-top: 50px;
  }

    #glow {
    width: 100px;
    height: 50px;
    top: 30px;
  }

  .intro img{
    width: 40%;
  }

  .intro p{
    font-size: 0.9rem;
    line-height: 20px;
  }

  .intro{
    gap: 30px;
  }

  .mvWrappers p {
    width: 80%;
    font-size: 0.9rem;
    line-height: 20px;
  }

  .mvWrappers h2{
    font-size: 1.4rem;
  }

  #missionVision {
    gap: 20px;
    padding: 30px;
  }

  .mvWrappers {
    gap: 10px;
  }
}

