main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* HEADINGS' STYLES */

h1 {
  font-size: 5rem;
  font-weight: 600;
  color: rgb(214, 214, 214);
  text-align: center;
  margin-top: 1.2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 20px;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(144, 142, 142);
}

/* SECTION CSS */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* FILTER AND SEARCH FEATURE STYLES */

.filter-wrapper {
  border: white solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 20px 2px 20px;
}

.filters {
  width: 1450px;
  display: flex;
  justify-content: space-between;
}

select {
  background-color: black;
  color: rgb(90, 89, 89);
  padding: 5px;
  border: none;
}

.filters img {
  width: 25px;
  cursor: pointer;
  margin-top: 5px;
}

.search-wrapper {
  border: white solid;
  border-width: 1px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px 2px 5px;
}

input {
  background-color: black;
  border: none;
  padding: 5px;
  width: 400px;
  height: 40px;
  text-align: center;
}

.search-wrapper span {
  background-color: black;
  color: rgb(90, 89, 89);
}

.search-wrapper img {
  margin-top: 10px;
}
/* EVENT STYLES */

.events-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}

.events-wrapper .showing,
.events-wrapper .upcoming {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
}

#events-showing,
#events-upcoming {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.event {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}

.event .eventDetails {
  margin-top: 50px;
}

.event img {
  width: 100%;
  max-width: 450px;
  height: 235px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.event .image:hover {
  filter: brightness(1.4);
  transform: scale(1.05);
}

.eventDetails button {
  background-color: black;
  color: rgb(144, 142, 142);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid rgb(144, 142, 142);
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.eventDetails button div {
  background-color: rgb(144, 142, 142);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.eventDetails button div img {
  width: 15px;
  height: 15px;
  background-color: rgb(144, 142, 142);
  object-fit: contain;
  display: block;
  transition: all 0.3s ease;
}

.eventDetails button:hover {
  background-color: rgb(144, 142, 142);
  color: black;
  border-color: black;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
