main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
}

/* HEADER GLOW EFFECT */
#glow {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(25px);
  pointer-events: none;
}

#headline {
  width: 410px;
  align-self: center;
  margin-top: 24px;
}

/* HEADINGS' STYLES */
section h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 20px;
}

section h3 {
  font-size: 2rem;
  font-weight: 500;
}

section h5 {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(144, 142, 142);
}

/* SECTION CSS */

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* FILTER AND SEARCH FEATURE STYLES */

.filter-wrapper {
  border: white solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 20px 2px 20px;
}

.filters {
  width: 1450px;
  display: flex;
  justify-content: space-between;
}

select {
  background-color: black;
  color: rgb(90, 89, 89);
  padding: 5px;
  border: none;
}

.filters img {
  width: 25px;
  cursor: pointer;
  margin-top: 5px;
}

.search-wrapper {
  border: white solid;
  border-width: 1px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px 2px 5px;
}

.section input {
  background-color: black;
  border: none;
  padding: 5px;
  width: 400px;
  height: 40px;
  text-align: center;
}

.search-wrapper span {
  background-color: black;
  color: rgb(90, 89, 89);
}

.search-wrapper img {
  margin-top: 10px;
}
/* EVENT STYLES */

.events-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  gap: 0px 10px;
}

.events-wrapper .showing,
.events-wrapper .upcoming {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
}

#events-showing,
#events-upcoming {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.event {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}

.event .eventDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.event img {
  width: 130%;
  max-width: 450px;
  height: 235px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.event .image:hover {
  filter: brightness(1.4);
  transform: scale(1.05);
}

section .eventDetails button {
  background-color: black;
  color: rgb(144, 142, 142);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid rgb(144, 142, 142);
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

section .eventDetails button div {
  background-color: rgb(144, 142, 142);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

section .eventDetails button div img {
  width: 15px;
  height: 15px;
  background-color: rgb(144, 142, 142);
  object-fit: contain;
  display: block;

  transition: all 0.3s ease;
}

section .eventDetails button:hover {
  background-color: rgb(144, 142, 142);
  color: black;
  border-color: black;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

section a {
  text-decoration: none;
}

/* ===== PROFILE/AUTHENTICATION MODAL ===== */
/* Overlay background for profile modal */
.profile-overlay-register,
.profile-overlay-login {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);
  display: none; /* hide by default */
  justify-content: center;
  align-items: center;
  z-index: 800;
}

/* Profile modal positioning and layout */
.profile-modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

/* Profile content main container */
.profile-content {
  width: calc(100vw - 650px);
  border: solid;
  border-radius: 30px;
  padding: 20px;
  gap: 20px;
}

/* Submit Button Css */
#createAccountBtn {
  width: 100%;
  font-size: 1rem;
  height: 20px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}
#loginBtn {
  width: 100%;
  font-size: 1rem;
  height: 20px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

form input {
  width: 320px;
  border: solid white;
  border-width: 1px;
  padding: 8px 10px 8px 10px;
  text-align: center;
}
.personal-info input {
  width: 140px;
}

.personal-info {
  display: flex;
  align-items: center;
  gap: 19px;
}

.terms-conditions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.terms-conditions input {
  width: 30px;
  height: 19.2px;
}

.create {
  width: 90%;
  font-size: 1rem;
  color: black;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 30px;
}

button {
  background-color: black;
  font-size: 2.2rem;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: rgb(144, 142, 142) solid;
  border-width: 1px;
  padding: 20px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.1s ease;
}

button:hover {
  transform: scaleX(1.05);
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons button {
  font-size: 1rem;
  width: 160px;
  height: 20px;
  border-radius: 5px;
  margin-top: 0;
}

/* PROFILE MODAL */
.profile-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.closeBtn {
  position: absolute;
}

.divider {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #888; /* line color */
}

.divider:not(:empty)::before {
  margin-right: 10px;
}

.divider:not(:empty)::after {
  margin-left: 10px;
}

.divider span {
  color: #888; /* text color */
  font-size: 14px;
}

.closeBtn {
  width: 10px;
  height: 10px;
  border: none;
  background-color: #0c0c0c;
  color: #404040;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 30px;
  border-radius: 50%;
}

.profile-content img {
  width: 480px;
  margin: 0;
  align-self: center;
  justify-self: center;
  pointer-events: none;
}

.profile-content a {
  font-weight: 100;
  cursor: pointer;
}

.redirect {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin-top: 2px;
}

.profile-overlay-login .create {
  justify-content: start;
  margin-left: 20px;
}
.profile-overlay-login form {
  margin-top: 50px;
}

.text-redirect {
  font-weight: 100;
  cursor: pointer;
}


.profile-overlay-terms{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);
  display: none; /* hide by default */
  justify-content: center;
  align-items: center;
  z-index: 800;
}


.terms{
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  border: solid white;
  border-width: 1px;
}

.terms p{
  margin-bottom: 10px;
}

.terms ol{
  overflow-y: scroll;
  max-height: 220px;
  padding: 10px;
}

.terms li{
  font-size: 0.8rem;
  margin-bottom: 5px;
  list-style: none;
}

.terms-buttons{
  display: flex;
  gap: 10px;
  align-self: end;
  justify-self: end;
}

.terms-buttons button{
  padding: 10px;
  font-size: 0.6rem;  
  border-radius: 5px;
  border: none;
}

#decline{
  background-color: black;
  color: rgb(119, 118, 118);
}

#agree{
  background-color: #36a854;
  color: black;
}

.profile-overlay-terms .create{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-overlay-terms h2{
  font-size: 1.9rem;
  text-align: start;
}

/* TABLETS (≤1024px) */
@media (max-width: 1024px) {
  main {
    padding: 1.5rem;
    gap: 60px;
  }

  #headline {
    width: 300px;
  }

  h2 {
    font-size: 2rem;
    margin-left: 10px;
  }

  /* FILTER SECTION */
  .filters {
    width: 100%;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
  }

  .filter-wrapper,
  .search-wrapper {
    width: 30%;
    height: 45px;
    padding: 8px 12px;
  }

  input {
    width: 100%;
  }

  /* EVENTS */
  .events-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
    padding: 10px;
  }

  .event {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 430px;
  }

  .event img {
    max-width: 80%;
    height: 200px;
    height: auto;
  }

  .event .eventDetails {
    justify-content: center;
    align-items: center;
  }

  .eventDetails button {
    font-size: 0.9rem;
    padding: 5px 8px;
  }

  .eventDetails button div {
    width: 22px;
    height: 22px;
  }

  .eventDetails button div img {
    width: 12px;
    height: 12px;
  }
  
  .eventDetails h3{
    font-size: 1.5rem ;
  }

  .eventDetails h5{
    font-size: 1rem ;
  }

  .profile-content{
    width: 750px;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

  .profile-content h2{
    font-size: 1.8rem;
  } 

  .profile-content h5{
    font-size: 0.7rem;
  }

  .profile-content form {
    gap: 10px;
  }

  .profile-overlay-login .profile-content .create{
    margin-top: 45px;
  }

  button{
    padding:15px;
  }

  /* Create Button Css */
  #createAccountBtn {
    font-size: 0.7rem;
    height: 10px;
    margin-top: 0px;
  }
  #loginBtn {
    font-size: 1rem;
    height: 20px;
    margin-top: 0px;
  }

  .buttons{
    justify-content: center;
    gap: 20px;
    margin: 0px;
  }

  .buttons button{
    font-size: 0.6rem;
    padding: 10px;
    width: 120px;
  }

  .profile-content .create{
    justify-self: center;
    align-items: center;
    margin-top: 0px;
  }

  .profile-content form{
    align-content: center;
    margin-top: 0px;
  }
  
  .profile-content img {
    width: 360px;
    margin: 0;
    align-self: center;
    justify-self: center;
    pointer-events: none;
    margin-top: 10px;
  }

}

@media (max-width: 768px) {
  .events-wrapper {
    grid-template-columns: 1fr;
    gap: 30px 0px;
  }

  .profile-content{
    width: 400px;
    grid-template-columns: 1fr ;
    gap: 20px;
  }

  .profile-overlay-login .profile-content :last-child{
    grid-column: 1;
    grid-row: 1;
  }

  .profile-overlay-login .profile-content .create{
    margin-top: 0px;
  }

  .profile-overlay-login .create{
    margin:0px;
  }
  
  .profile-content img{
    display: none;
  }

  .profile-content .create{
    margin: 15px;;
  };

  form{
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 1rem;
    gap: 40px;
  }

  #headline {
    width: 250px;
  }

  h2 {
    font-size: 1.5rem;
  }

  #glow{
    width: 100px;
    height: 40px;
    top: 20px;
  }

  /* FILTER SECTION */
  .filters {
    align-items: center;
    justify-content: space-around;
  }

  .filter-wrapper,
  .search-wrapper {
    width: 35%;
    height: 30px;
    padding: 6px 10px;
  }

  .filter-icon img{
    width: 15px;
  }

  input {
    width: 80%;  
    height: 40%;
  }

  #event-filter{
    width: 80%;
  }

  #events-showing, #events-upcoming {
    gap: 10px;
  }

.events-wrapper .showing,
.events-wrapper .upcoming {
  gap: 5px;
}

  .event {
    margin-top: 0px;
    gap: 10px;
    min-height: 380px;
  }

  .eventDetails h3{
    font-size: 1.2rem ;
  }

  .eventDetails h5{
    font-size: 0.9rem ;
  } 
}