main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
}

img {
  width: 350px;
  align-self: center;
  margin-top: 30px;
}

/* HEADER GLOW EFFECT */
#glow {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 60px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(25px);
  pointer-events: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

section p {
  width: 900px;
  font-size: 1.3rem;
  text-align: center;
  line-height: 40px;
}

section h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

section img {
  width: 800px;
}

#hall {
  margin-right: 30px;
}

#stadium {
  margin-right: 10px;
}
