main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
}

#headline {
  width: 350px;
  align-self: center;
  margin-top: 30px;
}

/* HEADER GLOW EFFECT */
#glow {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 60px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(25px);
  pointer-events: none;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

main .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

main section p {
  width: 900px;
  font-size: 1.3rem;
  text-align: center;
  line-height: 40px;
}

main section h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

main section img {
  width: 100%;
  max-width: 800px;
}

#hall {
  margin-right: 30px;
}

#stadium {
  margin-right: 10px;
}

/* TABLET */
@media (max-width: 1024px) {
  main section p {
    width: 600px;
    font-size: 1.1rem;
    line-height: 30px;
  }

  main section img {
    width: 500px;
  }
}

/* MOBILE (≤768px) */
@media (max-width: 768px) {
  main section p {
    width: 90%;
    font-size: 1rem;
    line-height: 25px;
  }

  main section img {
    width: 90%;
  }

  #headline {
    width: 250px;
    margin-top: 20px;
  }

}
/* SMALL MOBILE (≤480px) */
@media (max-width: 480px) {
  #glow {
    width: 100px;
    height: 40px;
    top: 30px;
  }
  #headline {
    width: 200px;
    margin-top: 15px;
  }

  main section{
    gap: 20px;
  }

  main section h1{
    font-size: 1.2rem;
  }
  main section p{
    font-size: 0.7rem;
    line-height: 20px;
  }
  main section img{
    width: 70%;
  }
}
