main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  color: rgb(214, 214, 214);
  text-align: center;
  margin-top: 0.5rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

section p {
  width: 900px;
  font-size: 1.3rem;
  text-align: center;
  line-height: 40px;
}

section h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

section img {
  width: 800px;
}

#hall {
  margin-right: 30px;
}

#stadium {
  margin-right: 10px;
}
