/* CONTAINS CSS THAT IS APPLIED TO ALL HTML FILES */
@font-face {
  font-family: "DMSans";
  src: url("../../assets/fonts/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
:root {
  --text-color: #eeedea;
  --current-color: #585858;
  --noncurrent-color: #ffffff;
  --noncurrent-hover-color: #9c9c9c;
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  background-color: black;
  color: var(--text-color);
  font-family: "DMSans", sans-serif;
  letter-spacing: 1px;
}
h1,
h2,
h3,
h4,
h5 {
  pointer-events: none;
}

/* HEADER RELATED CSS */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100px;
  gap: 200px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}

header img {
  width: 80px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 800px;
  white-space: nowrap;
}

nav a {
  text-decoration: none;
  font-weight: 700;
}

nav .non-current {
  color: var(--noncurrent-color);
  transition: color 0.3s ease;
  font-size: 1.3rem;
}
nav #current {
  text-decoration: none;
  color: var(--current-color);
  font-size: 1.3rem;
  transform: scale(1.4);
}

nav .non-current:hover {
  color: var(--noncurrent-hover-color);
  transform: scale(1.1);
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}

.profile-circle {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--noncurrent-hover-color);
}

.profile-wrapper span {
  font-size: 1.15rem;
  font-weight: 500;
  width: 100px;
  text-align: right;
}

/* CSS FOR MOUSE GLOW FEATURE */
#mouse-glow {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  filter: blur(40px);
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease;
  z-index: 9999;
}

main {
  margin-top: 100px;
}

/* FOOTER RELATED CSS */
footer {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 50px 150px 30px 150px;
}
footer section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contents {
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 10px;
  justify-content: center;
  align-content: start;
  justify-items: start;
  align-items: start;
}

.row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: start;
}

.connect {
  justify-self: center;
}

.about,
.customer-support,
.connect {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.end-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.end-part img {
  width: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  filter: brightness(0.6);
}

.architix {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.socmed {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
  gap: 30px;
}

footer a {
  text-decoration: none;
  color: rgb(144, 142, 142);
}

.row-2 .contents {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3px;
}

.row-2 img {
  width: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  filter: brightness(0.6);
}

footer h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

footer h4 {
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}

footer h5 {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(144, 142, 142);
}

footer h6 {
  font-size: 1rem;
  font-weight: 100;
  color: rgb(83, 83, 83);
}
