/* CONTAINS CSS THAT IS APPLIED TO ALL HTML FILES */
@font-face {
  font-family: "DMSans";
  src: url("/static/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
:root {
  --text-color: #eeedea;
  --current-color: #585858;
  --noncurrent-color: #ffffff;
  --noncurrent-hover-color: #9c9c9c;
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  background-color: black;
  color: var(--text-color);
  font-family: "DMSans", sans-serif;
  letter-spacing: 1px;
}
/* HEADER RELATED CSS */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100px;
  gap: 200px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}

header img {
  width: 80px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 800px;
  white-space: nowrap;
}

nav a {
  text-decoration: none;
  font-weight: 700;
}

nav .non-current {
  color: var(--noncurrent-color);
  transition: color 0.3s ease;
  font-size: 1.3rem;
}
nav #current {
  text-decoration: none;
  color: var(--current-color);
  font-size: 1.3rem;
  transform: scale(1.4);
}

nav .non-current:hover {
  color: var(--noncurrent-hover-color);
  transform: scale(1.1);
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}

.profile-circle {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--noncurrent-hover-color);
}

.profile-wrapper span {
  font-size: 1.15rem;
  font-weight: 500;
  width: 100px;
  text-align: right;
}
#logo {
  transition: transform 0.3s ease-in-out;
}

#logo:hover {
  transform: rotate(10deg) scale(1.05);
}

/* CSS FOR MOUSE GLOW FEATURE */
#mouse-glow {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  filter: blur(40px);
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease;
  z-index: 9999;
}

main {
  margin-top: 100px;
}

/* FOOTER RELATED CSS */
footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  background-color: black;
  color: var(--noncurrent-hover-color);
  text-align: center;
  padding: 1.5rem;
}

footer img {
  width: 55px;
  cursor: pointer;
  transition: all 0.3s ease;
}

footer img:hover {
  transform: scale(1.1);
}

footer a {
  color: var(--text-color);
  text-decoration: underline;
}
