.hero {
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}

/* HEADER GLOW EFFECT */
#glow {
  position: absolute;
  top: 20px;
  left: 31%;
  transform: translateX(-50%);
  width: 220px;
  height: 110px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.4) 30%,
    rgba(255, 255, 255, 0.9) 40%,
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(20px);
  pointer-events: none;
}
.hero img {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.hero span {
  font-size: 3rem;
  width: 600px;
  text-align: left;
  margin-bottom: 60px;
  font-weight: 500;
}

.trending-events {
  padding: 40px 20px 40px 20px;
}

#events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 50px;
  align-items: start;
}

.event {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
  cursor: pointer;
}

.event img {
  width: 65%;
  height: auto;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.event img:hover {
  filter: brightness(1.4);
  transform: scale(1.05);
}

.event .eventDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: start;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}
h4 {
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(144, 142, 142);
}

h6 {
  font-size: 1rem;
  font-weight: 100;
  color: rgb(83, 83, 83);
}

/* TABLET ONLY */
@media (max-width: 1024px) {
  .nav {
    flex-direction: column;
  }

  .hero{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero span{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  #glow{
    left: 50%;
    top: 30px;
  }
}

/* ===== PROFILE/AUTHENTICATION MODAL ===== */
/* Overlay background for profile modal */
.profile-overlay-register,
.profile-overlay-login {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);
  display: none; /* hide by default */
  justify-content: center;
  align-items: center;
  z-index: 800;
}

/* Profile modal positioning and layout */
.profile-modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

/* Profile content main container */
.profile-content {
  width: calc(100vw - 650px);
  border: solid;
  border-radius: 30px;
  padding: 20px;
  gap: 20px;
}

/* Create Button Css */
#createAccountBtn {
  width: 100%;
  font-size: 1rem;
  height: 20px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}
#loginBtn {
  width: 100%;
  font-size: 1rem;
  height: 20px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

form input {
  width: 320px;
  border: solid white;
  border-width: 1px;
  padding: 8px 10px 8px 10px;
  text-align: center;
}
.personal-info input {
  width: 140px;
}

.personal-info {
  display: flex;
  align-items: center;
  gap: 19px;
}

.terms-conditions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.terms-conditions input {
  width: 30px;
  height: 19.2px;
}

.create {
  width: 90%;
  font-size: 1rem;
  color: black;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 30px;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons button {
  font-size: 1rem;
  width: 160px;
  height: 20px;
  border-radius: 5px;
  margin-top: 0;
}

/* PROFILE MODAL */
.profile-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.closeBtn {
  position: absolute;
}

.divider {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #888; /* line color */
}

.divider:not(:empty)::before {
  margin-right: 10px;
}

.divider:not(:empty)::after {
  margin-left: 10px;
}

.divider span {
  color: #888; /* text color */
  font-size: 14px;
}

.closeBtn {
  width: 10px;
  height: 10px;
  border: none;
  background-color: #0c0c0c;
  color: #404040;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 30px;
  border-radius: 50%;
}

.profile-content img {
  width: 480px;
  margin: 0;
  align-self: center;
  justify-self: center;
  pointer-events: none;
}

.profile-content a {
  font-weight: 100;
  cursor: pointer;
}

.redirect {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin-top: 2px;
}

.profile-overlay-login .create {
  justify-content: start;
  margin-left: 20px;
}
.profile-overlay-login form {
  margin-top: 50px;
}

.text-redirect {
  font-weight: 100;
  cursor: pointer;
}


.profile-overlay-terms{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);
  display: none; /* hide by default */
  justify-content: center;
  align-items: center;
  z-index: 800;
}


.terms{
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  border: solid white;
  border-width: 1px;
}

.terms p{
  margin-bottom: 10px;
}

.terms ol{
  overflow-y: scroll;
  max-height: 220px;
  padding: 10px;
}

.terms li{
  font-size: 0.8rem;
  margin-bottom: 5px;
  list-style: none;
}

.terms-buttons{
  display: flex;
  gap: 10px;
  align-self: end;
  justify-self: end;
}

.terms-buttons button{
  padding: 10px;
  font-size: 0.6rem;  
  border-radius: 5px;
  border: none;
}

#decline{
  background-color: black;
  color: rgb(119, 118, 118);
}

#agree{
  background-color: #36a854;
    color: black;
}

.profile-overlay-terms .create{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-overlay-terms h2{
  font-size: 1.9rem;
  text-align: start;
}

/* MOBILE */
@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }

  .trending-events {
    padding: 20px 10px 20px 10px;
  }

  #events {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .event img {
    width: 50%;
  }

  .hero img{
    width: 80%;
  }
  
  .hero span {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
}
/* SMALL MOBILE */
@media (max-width: 480px) {
  .header {
    font-size: 14px;
  }

  .hero img{
    width: 40%;
  }

  #glow{
    width: 100px;
    height: 50px;
    left: 50%;
    top: 20px;
  }

  .hero span {
    font-size: 1.2rem;
    margin-bottom: 15px;
    width: 40%;
  }

  h2{
    font-size: 1rem;
  }

  h3{
    font-size: 0.8rem;
  }
  h5{
    font-size: 0.6rem;
  }

  #events{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .event{
    flex-direction: column; 
  }

  .eventDetails{
    align-items: center;
    justify-content: center;
  }

  .event img{
    width: 100%;
  }
}
